* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-weight: 700;
}
body {
  --bg-color: #fff;
  --titles-color: #48e;
  --items-bg-color: #831f82;
  --dark-items-bg-color: #42165c;
}
div,
ul,
li,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

/*----NAVEGACION------*/
header {
  padding: 3px;

  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  max-width: 5rem;
  font-size: 1.5rem;
}
.nav-list {
  display: flex;
  list-style: none;
  gap: 1rem;
  box-sizing: border-box;
}
.nav-list a {
  color: var(--titles-color);
  padding: 10px;
  border-radius: 15px;
  text-decoration: none;
  font-size: 1.5rem;
}
.nav-list a:hover {
  color: #fff;
  background-color: #42165c;
  transition: 0.5s;
}

.abrir-menu,
.cerrar-menu {
  display: none;
  font-size: 2rem;
}

/*---------INICIO MAIN-------*/

.section {
  display: flex;
  justify-content: center;
  margin: 38px 0;
  margin-bottom: 110px;
}

.container {
  display: flex;
  height: 85dvh;
  width: 80%;
}
.box-container {
  
  z-index: -1;
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 24% 76% 26% 74% / 50% 45% 55% 50%;
  background: rgb(63, 94, 251);
  background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, #42165c 100%);
}

.box img {
  width: 60%;

  animation-name: mover;
  animation-duration: 2s;
}
.text-container h2 {
  font-size: 3rem;
  padding: 10px;
  color: #fff;
}
.text-container {
  border-left: 1px solid #fff;
  box-sizing: border-box;
  display: flex;
  color: #48c;
  padding: 50px 60px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  max-height: 500px;
}
.text-container h1 {
  font-size: 6rem;
  align-self: flex-end;
}
.text-container h2 {
  font-size: 3.5rem;
}
@keyframes mover {
  to {
    translate: 0 0;
  }
  from {
    translate: 300px 0;
  }
}
/*-------BANNER---------*/

.banner-section {
  max-width: 100%;
  background: rgb(131, 58, 180);
  background: linear-gradient(
    0deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(69, 149, 252, 1) 100%
  );
  display: flex;
}

.banner-contenido {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.banner-contenido h2 {
  padding: 80px 50px;
  font-size: 3rem;
  text-align: center;
}
.banner-image img {
  width: 300px;
  max-width: 100%;
}
.banner-button {
  font-size: inherit;
  position: relative;
  overflow: hidden;
  margin-bottom: 25px;
  width: 170px;
  height: 3rem;
  padding: 0 2rem;
  border-radius: 1.5rem;
  background: #3d3a4e;
  background-size: 400%;
  color: #fff;
  border: none;
  cursor: pointer;
}

.banner-button:hover::before {
  transform: scaleX(1);
}

.banner-button-content {
  position: relative;
  z-index: 1;
}

.banner-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(
    82.3deg,
    rgba(150, 93, 233, 1) 10.8%,
    rgba(99, 88, 238, 1) 94.3%
  );
  transition: all 0.475s;
}

/*-------CARDS---------*/
.cards {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: auto;
}
.card-content {
  margin: 20px 0;
  display: flex;
  text-align: center;
  align-items: center;
}
.card-content img {
  max-width: 100%;
  border-radius: 18px;
}
.card-text p {
  padding: 10px;
  font-size: 1.5rem;
  text-align: start;
  width: 70%;
  margin-top: 10px;
  font-weight: 200;
  margin: auto;
}
.card-text h2 {
  font-size: 2rem;
  color: var(--titles-color);
}

/*------PROYECTOS MAIN-------*/

.main-proyectos {
  width: 80%;
  margin: auto;
}
.main-proyectos h2 {
  color: var(--titles-color);
  text-align: center;
  margin: 20px 0;
  font-size: 2rem;
}
.proyectos-grid {
  box-sizing: border-box;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  width: 100%;
}
.grid-item {
  background-size: cover;
  height: 50vh;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-text-container {
  width: 80%;
}

.grid-item:nth-child(2) {
  background-image: url(./Assets/img/ciervoGrande.jpg);
}
.grid-item:nth-child(3) {
  background-image: url(./Assets/img/ciervoGrande.jpg);
}
.grid-item:nth-child(6) {
  background-image: url(./Assets/img/ciervoGrande.jpg);
}
.grid-item:nth-child(7) {
  background-image: url(./Assets/img/ciervoGrande.jpg);
}
.grid-item:nth-child(10) {
  background-image: url(./Assets/img/ciervoGrande.jpg);
}
.grid-item:nth-child(11) {
  background-image: url(./Assets/img/ciervoGrande.jpg);
}

/*-----BOTON ARRIBA-------*/

.boton-arriba {
  display: none; /* Ocultar el botón inicialmente */
  position: fixed; /* Posición fija para que el botón permanezca en la misma posición mientras se desplaza */
  bottom: 20px; /* Distancia desde el borde inferior */
  right: 20px; /* Distancia desde el borde derecho */
  z-index: 9999; /* Asegura que el botón esté encima de otros elementos */
  width: 50px;
  height: 50px;
  font-size: 24px;
  user-select: none;
  border: none;
  background-color: darkgray;
  opacity: 0.5;
  color: #343a40;
  border-radius: 50%;
  cursor: pointer;
}

.boton-arriba:hover {
  background-color: lightgray; /* Color de fondo al pasar el cursor */
}

/*-----FOOTER-----*/
.footer {
  margin-top: 40px;
  background-color: #311b3e;
  padding: 30px 0px;
  font-family: "Play", sans-serif;
  text-align: center;
  color: var(--bg-color);
}

.footer .row {
  width: 100%;
  margin: 1% 0%;
  padding: 0.6% 0%;
  color: #fff;
  font-size: 0.8em;
}

.footer .row a {
  text-decoration: none;
  padding: 0 10px;
  color: #fff;
  transition: 0.5s;
}

.footer .row a img:hover {
  scale: 1.1;
  box-shadow: 1px 1px #fff;
  border-radius: 5px;
  transition: 0.5s;
}

.footer .row ul {
  width: 100%;
}

.footer .row ul li {
  display: inline-block;
  margin: 0px 30px;
}

.footer .row a i {
  font-size: 2em;
  margin: 0% 1%;
}

/*------BOTON DE WHATSAPP FLOTANTE------*/
.btn-wsp {
  position: fixed;
  width: 60px;
  height: 60px;
  line-height: 63px;
  bottom: 25px;
  right: 25px;
  background: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 35px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 100;
  transition: all 300ms ease;
}
.btn-wsp:hover {
  background: #20ba5a;
}

/*-----MEDIAS QUERIES------*/

@media screen and (max-width: 600px) {
  .abrir-menu {
    background-color: transparent;
    color: #42165c;
  }
  .container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    height: 77dvh;
  }
  .box-container {
    box-sizing: border-box;
    width: 100%;
    height: 650px;
    display: flex;
    justify-content: center;
    border-radius: 24% 76% 26% 74% / 50% 45% 55% 50%;
    background: rgb(63, 94, 251);
    background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, #42165c 100%);
  }
  .text-container {
    box-sizing: border-box;
    height: auto;
    padding: 0;
    text-align: start;
    left: 0;
    border-left: none;
  }
  .text-container h1 {
    font-size: 2.5rem;
  }
  .text-container h2 {
    font-size: 1.4rem;
    letter-spacing: 2px;
  }
  .box {
    padding: 0;
    border-right: 1px solid #fff;
  }
  .box img {
    width: 190px;
  }

  /*------CARDS MEDIA QUERIES-------*/

  .cards {
    width: 100%;
    display: flex;
    padding: 0px;
    flex-direction: column;
  }
  .card-content {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  .second {
    display: flex;
    flex-direction: column-reverse;
  }
  .cards-text h2 {
    color: var(--titles-color);
  }
  .card-img img {
    max-width: 100%;
  }
  .card-text p {
    font-size: 1rem;
    width: 100%;
  }

  @keyframes mover {
    to {
      translate: 0 0;
    }
    from {
      translate: -50px 0;
    }
  }
  /*------PROYECTOS MEDIA QUERIES------*/
  .main-proyectos {
    width: 100%;
    padding: 10px;
  }
  .main-proyectos h2 {
    
    
  }
  .proyectos-grid {
    box-sizing: border-box;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: 100%;
  }
  .grid-item {
    background-size: cover;
    height: auto;
    background-position: center;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .grid-item {
    font-size: 8px;
    padding: 10px;
  }
  .main-proyectos h2 {
    font-size: 16px;
    margin: 10px 0;
  }
  .main-proyectos p {
    font-size: 14px;
    font-weight: 100;
    text-align: end;
  }

  .scroll-to-top {
    position: fixed;
    right: 15px;
    bottom: 15px;
    display: none;
    width: 50px;
    height: 50px;
    text-align: center;
    color: #fff;
    background: rgba(52, 58, 64, 0.5);
    line-height: 50px;
  }
  .scroll-to-top:focus,
  .scroll-to-top:hover {
    color: #fff;
  }
  .scroll-to-top:hover {
    background: #343a40;
  }
  .scroll-to-top i {
    font-weight: 800;
  }

  /*------FOOTER MEDIA QUERIES------*/

  .footer {
    height: 250px;
    display: flex;
    flex-direction: column;
    color: var(--bg-color);
    align-items: center;
  }
  .footer .row a i {
    margin: 0% 10%;
  }
  .footer img {
    width: 32px;
  }
  .row-rights {
    font-size: 12px;
    width: 70%;
    text-align: center;
  }
  /*-------BOTON DE WHATSAPP-------*/
  .btn-wsp {
    z-index: 1;
    bottom: 75px;
    right: 10px;
  }

  /*------BANNER MEDIA QUERIES------*/
  .banner-section {
    text-align: start;
    display: flex;
  }

  .banner-contenido {
    width: 100%;
    padding: 10px;
    color: #fff;
    padding: 20px;
  }
  .banner-contenido h2 {
    font-size: 2rem;
    padding: 5px 0;
  }
  .banner-button {
    margin-bottom: 5px;
  }
}

/*-----MEDIA QUERIES DE NAVEGACION-----*/

@media screen and (max-width: 520px) {
  .abrir-menu,
  .cerrar-menu {
    display: block;
    border: none;
  }
  .nav {
    z-index: 1000;
    position: static;
    opacity: 0;
    min-width: 100%;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #111;
    padding: 2rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
    transition: 0.5s;
  }
  .nav.visible {
    opacity: 1;
    visibility: visible;
  }
  .cerrar-menu {
    background-color: transparent;
    color: #fff;
    margin-top: 15px;
  }
  .nav-list {
    font-size: 5rem;
    margin-top: 150px;
    gap: 40px;
    flex-direction: column;
    text-align: center;
  }
  .nav-list a {
    color: #fff;
  }
}
/*-----FIN DE NAVEGACION------*/
